<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Register Account</title>
</head>
<body>
<h1>Register Account</h1>
<a href="/">返回</a>
<a href="/login/">登录</a>
<?php
if(!empty($message)){
    echo $message;
}  ?>  
<form action="/register/" method="post">
    <p>用户名：
        <input type="text" name="username">
    </p>
    <p>邮箱：
        <input type="text" name="mail">
    </p>
    <p>密&nbsp;&nbsp;码：&nbsp;
        <input type="password" name="password">
    </p>
    <p>再次输入密码：
        <input type="password" name="repeat_password">
    </p>
    <div>
        <label>验证码 (
            <?php echo $ques; ?>)：</label>
        <br/>
        <canvas id="vtt_captcha" width="680" height="460" rel="<?php echo $src; ?>"></canvas>
        <input type="hidden" id="captcha_x" name="captcha_x" value="">
        <input type="hidden" id="captcha_y" name="captcha_y" value="">
    </div>
    <p>
        <input type="submit" value="注册">
    </p>
</form>
<script>

    window.onload = function () {
        var c = document.getElementById("vtt_captcha");
        var ctx = c.getContext("2d");
        var img = new Image();
        img.src = "<?php echo $src;?>";
        img.onload = function () {
            ctx.drawImage(img, 0, 0);
        };

        c.onmousedown = function (event) {
            var rect = this.getBoundingClientRect();
            var x = (event.x - rect.left) * (this.width / rect.width);
            var y = (event.y - rect.top) * (this.height / rect.height);


            ctx = c.getContext("2d");
            ctx.beginPath();
            ctx.arc(x, y, 10, 0, 360, false);
            ctx.fillStyle = "red";
            ctx.fill();
            ctx.closePath();

            document.getElementById('captcha_x').value = x;
            document.getElementById('captcha_y').value = y;
        }
    };

</script>
</body>
</html>