<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Register Account</title>
</head>
<body>
<h1>Register Account</h1>
<a href="/">返回</a>
<a href="/user/login/">登录</a>
<form action="/user/register" method="post">
    <p>用户名：
        <input type="text" name="username">
    </p>
    <p>密&nbsp;&nbsp;码：&nbsp;
        <input type="password" name="password">
    </p>
    <p>再次输入密码：
        <input type="password" name="repeat_password">
    </p>
    <p>
        <input type="submit" value="注册">
    </p>
</form>
</body>
</html>