<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>

<body>
    <h1>Shop</h1>
    <div class="commodity-list">
<?php
    if(!empty($commoditys))
    {
        foreach($commoditys as $commodity){?>
        <td class="commodity-name">
            <a href="/info/<?php echo $commodity['id'];?>/"><?php echo $commodity['name'];?></a>
        </td>
        <td>price: <?php echo $commodity['price'];?></td>
        <form action="/shopcar/add/" method="post">
            <!-- <input type="hidden" name="_xsrf" value="2|29d52c12|4f8605369ad6fbd2eea481ae45fd8797|1526375925" /> -->
            <input type="hidden" name="id" value="<?php echo $commodity['id']; ?>">
            <button class="btn btn-lg btn-success">Buy</button>
        </form>
        <br>
       <?php }
    }

?>
    </div>

</body>

</html>